h1{
    text-align: center;
    font-style: italic;
    margin-top: 40px;
}

body{
    background-image: url(/image.jpg);
}

.images{
    padding-left: 100px;
}

.img1{
    display: flex;
    padding: 10px;
    width: 400px;
    height: 400px;
    gap: 20px;
}

.img2{
    display: flex;
    padding: 10px;
    width: 400px;
    height: 400px;
    gap: 20px;
}

.img3{
    display: flex;
    padding: 10px;
    width: 400px;
    height: 400px;
    gap: 20px;
}